# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built output
build/
dist/
out/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# ESLint cache
.eslintcache

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?